<!doctype html>
<html lang='es'>

<head>
    <%- include('./templates/header')%>
</head>

<body>
    <%- include('./templates/navbar')%>
    <div class="container-fluid">
        
        <div class="card" style="min-height:100vh; padding-top:60px">
            <!-- <div class="card-header">
                
            </div> -->
            <div class="card-body">
                <div class="card text-white bg-secondary mb-3">
                    <div class="card-header">Ofertas laborales</div>
                    <div class="card-body">
                        <h5 class="card-title">modo de uso</h5>
                        <p class="card-text">
                            <ul>
                                <li> Cualquier usuario puede ingresar una oferta laboral</li>
                                <li>cualquier usuario puede registar sus datos para aplicar a una oferta laboral</li>
                                <li>Solo cuando se digite la contrasela "admin" se activaran las opciones pertencientes al administrador (eliminar trabajos, visualizar todos los candidatos y eliminar candidatos)</li>
                            </ul>
                           
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('./templates/footer')%>
</body>

</html>