<!doctype html>
<html lang='es'>

<head>
    <%- include('./templates/header')%>
</head>

<body>
    <%- include('./templates/navbar')%>
    <div class="container-fluid">
        
        <div class="card">
            <!-- <div class="card-header">
                
            </div> -->
            <div class="card-body">
                <div class="card text-white bg-secondary mb-3">
                    <div class="card-header">Ofertas laborales</div>
                    <div class="card-body">
                        <h5 class="card-title">modo de uso</h5>
                        <p class="card-text">
                            <ul>
                                <li> Cualquier usuario puede ingresar una oferta laboral y asignarle una contraseña para que
                                    solo el pueda modificarla</li>
                                <li>cualquier usuario puede registar sus datos para aplicar a una oferta laboral</li>
                            </ul>
                           
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('./templates/footer')%>
</body>

</html>